{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}
    <link rel="stylesheet" href="../static/CSS/Dashboard.css">
    <div class="card-container">
        <div class="card card-blue">
        <div class="card-innerbox">
            <img alt="" class="card-img" src="../static/images/shipment.jpg" />
            <div class="card-textbox">
            <div class="card-title">Create a New Shipment</div>
            <div class="card-bar"></div>
            <div class="card-tagbox">
                <button><a href="/create_shipment">Create Shipment</a></button>
            </div>
            </div>
        </div>
        </div>

        <div class="card card-red">
        <div class="card-innerbox">
            <img alt="" class="card-img" src="../static/images/device.jpg" />
            <div class="card-textbox">
            <div class="card-title">To see Device Data Stream</div>
            <div class="card-bar"></div>
            <div class="card-tagbox">
                <button><a href="/deviceData">Device Data Stream</a></button>
            </div>
            </div>
        </div>
        </div>    
    </div>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
{% endblock %}