{% extends "base.html" %}

{% block title %}My Shipments{% endblock %}

{% block content %}
    <link rel="stylesheet" href="../static/CSS/myShipment.css">

    <div id="adminControls" style="display: none;">
        <label for="shipmentFilter">Show Shipments:</label>
        <select class="select" id="shipmentFilter">
            <option value="myShipments">My Shipments</option>
            <option value="allShipments">All Shipments</option>
        </select>
    </div>
    <div id="shipmentDetails"></div>
    <script src="../static/JS/myShipment.js"></script>
{% endblock %}